SUPABASE_URL=https://dev-storage-manager.able.tec.br
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzczODcwMzk0LCJleHAiOjIwODkyMzAzOTR9.E7pXCow5Jl1iIAtmdGcHjSuTHAtllUYLhr62HbnvvFc
GEMINI_API_KEY=
